.profile-html{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html::after {
      background: url(../images/arteta-bg.jpg);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}

.profile-html-2{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html-2::after {
      background: url(../images/emirates_Stadium.jpg);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}

.profile-html-3{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html-3::after {
      background: url(../images/aubameyang-bg.jpg);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}

.profile-html-4{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html-4::after {
      background: url(../images/leno-bg.jpg);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}

.profile-html-5{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html-5::after {
      background: url(../images/ozil-bg.png);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}

.profile-html-6{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html-6::after {
      background: url(../images/guendouzi-bg.jpg);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}

.profile-html-7{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html-7::after {
      background: url(../images/maitland-niles-bg.png);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}

.profile-html-8{
    height: 100%;
    position: relative;
    z-index: 1;
}
  
.profile-html-8::after {
      background: url(../images/martinelli-bg.png);
      background-repeat: no-repeat;
      opacity: 0.4;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
}